
#sorter_info h1 {
	width: 100%;
	display: block;
	text-align: center;
	padding: 0;
	margin: 15px auto;
	color: #ff7058;
	text-transform: uppercase;
	font-size: 18px;
}
#sorter_info {
	position: fixed;
	z-index: 100;
	width: 220px;
	height: auto;
	padding: 15px;
	background-color: #324a5e;
	top: 20px;
	left: 20px;
	color: #fff;
}
#sorter_informers div {
	display: block;
	margin: 10px 0 0 0;
}
#sorter_count {
	display: block;
	width: 90%;
	margin: 8px auto;
	border-bottom: 1px solid #ff7058;
	text-align: center;
	text-transform: uppercase;
}
#sorter_count i {
	font-size: 16px;	
	vertical-align: top;
	
}
#sorter_info .marker {
	color: #ff7058;
	font-size: 20px;
	vertical-align: middle;
}
#copy_btns div {
	display: inline-block ;
	padding: 5px;
	text-align: center;
	width: 80px;
	border-radius: 5px;
	margin-left: 8px;
	cursor: pointer;
}
#copy_btns span {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 15px auto;
}

#copy_btn_1 {
	background-color: green;
}
#copy_btn_2 {
	background-color: red;
}
#copy_btns {
	display: none ;
	
}